<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search YouTube Videos</title>
</head>
<body>
    <h1>Search YouTube Videos</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <h2>Results:</h2>
    <ul>
        {% for video in videos %}
            <li>
                <h3>{{ video.title }}</h3>
                <img src="{{ video.thumbnail }}" alt="Thumbnail">
                <a href="https://www.youtube.com/watch?v={{ video.video_id }}" target="_blank">Watch Video</a>
            </li>
        {% empty %}
            <p>No results found</p>
        {% endfor %}
    </ul>
</body>
</html>
